<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success">New Recipe</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <li class="list-group">
      <a href="#" class="list-group-item clearfix" *ngFor="let recipe of recipes">
        <div class>
          <h4 class="list-group-item-heading">{{recipe.name}}</h4>
          <p class="list-group-item-text">{{recipe.description}}</p>
        </div>
        <span>
          <img class="img-responsive" [src]="recipe.imagePath" alt="{{recipe.name}}" height="250px" width="auto">
        </span>
      </a>
    </li>
    <app-recipe-item></app-recipe-item>
  </div>
</div>